{% extends "landing_base.html" %}
{% load static %}

{% block title %}Blog{% endblock %}

{% block content %}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-blog set-bg" data-setbg="{% static 'frontend/img/breadcrumb-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Our Blog</h2>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            {% if blogs %}
                {% for blog in blogs %}
                    {% if blog.featured_image %}
                        <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    <img src="{{ blog.featured_image.url }}" alt="{{ blog.title }}">
                                </div>
                                <div class="blog__item__text">
                                    <span>
                                        <img src="{% static 'frontend/img/icon/calendar.png' %}" alt="">
                                        {{ blog.publish_date|date:"d F Y" }}
                                    </span>
                                    <h5>{{ blog.title }}</h5>
                                    <a href="{% url 'landing_blog_detail' blog.slug %}">Read More</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="col-12 text-center">
                    <p>No blogs available at the moment. Please check back later.</p>
                </div>
            {% endif %}
        </div>
    </div>
</section>
<!-- Blog Section End -->

<style>
.blog__item__pic {
    width: 100%;
    height: 250px; /* fixed height for uniform images */
    overflow: hidden;
}

.blog__item__pic img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* keeps image proportion but fills container */
}
</style>

{% endblock %}
